main {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    padding: 0 1em;
}

#input-wrapper {
    margin: .25em 1em;
    padding: .5em .75em;
    border: 1px solid black;
}

#input-wrapper input {
    border: 0;
}

#input-wrapper .icon {
    float: right;
}

#calendar-wrapper {
    margin: 0 1em;
    padding: .5em .75em;
    position: relative;
    border: 1px solid black;
}

#calendar-wrapper .header {
    margin-bottom: .5em;
    display: flex;
    height: 5vw;
    font-size: 3vw;
}

#calendar-wrapper .header > i:first-of-type {
    position: absolute;
    left: 1em;
}

#calendar-wrapper .header .month {
    position: relative;
    width: 100%;
    display: inline-block;
    text-align: center;
}

#calendar-wrapper .header > i:last-of-type {
    position: absolute;
    right: 1em;
}

#calendar-wrapper .body table {
    width: 100%;
    text-align: center;
}

#calendar-wrapper .body table td {
    height: 5vw;
}

.today {
    background-color: lightblue;
    border-radius: 0.35em;
}

#legend {
    margin-top: 2em;
}
